<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Website Title -->
    <title>Evolo - StartUp HTML Landing Page Template</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext"
        rel="stylesheet">
    <link href="/public/css/bootstrap.css" rel="stylesheet">
    <link href="/public/css/fontawesome-all.css" rel="stylesheet">
    <link href="/public/css/swiper.css" rel="stylesheet">
    <link href="/public/css/magnific-popup.css" rel="stylesheet">
    <link href="/public/css/styles.css" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="/public/imgs/favicon.png">
</head>