<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Website Title -->
    <title>RESEARCHHUB</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext"
        rel="stylesheet">
    <link href="/public/css/bootstrap.css" rel="stylesheet">
    <link href="/public/css/fontawesome-all.css" rel="stylesheet">
    <link href="/public/css/swiper.css" rel="stylesheet">
    <link href="/public/css/magnific-popup.css" rel="stylesheet">
    <link href="/public/css/styles.css" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="/public/imgs/favicon.png">
</head>

<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Evolo</a> -->

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="/"></a>

        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link page-scroll" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link page-scroll" href="/show/events/1">Events</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link page-scroll" href="/show/donations">Donations</a>
              </li>
            <!--  <li class="nav-item">
                  <a class="nav-link page-scroll" href="#request">Request</a>
              </li>  -->

              <!-- Dropdown Menu -->          
             <!-- <li class="nav-item dropdown">
                  <a class="nav-link page-scroll" href="/about">About</a>
                  <a class="nav-link dropdown-toggle page-scroll" href="#about" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="terms-conditions.html"><span class="item-text">Terms Conditions</span></a>
                      <div class="dropdown-items-divide-hr"></div>
                      <a class="dropdown-item" href="privacy-policy.html"><span class="item-text">Privacy Policy</span></a>
                  </div>
              </li> -->
              <!-- end of dropdown menu --> 

              <li class="nav-item">
                  <a class="nav-link page-scroll" href="/contact">Contact</a>
              </li>
                  <% if (user) {%>
                      <% var name = user.username %> 
                      <% var use = name.split(' ')%> 
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle page-scroll" href="#about" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: #00bfd8;"><%= use[0]%></a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="/create/new-event"><span class="item-text">+ Create</span></a>
                              <div class="dropdown-items-divide-hr"></div>
                              <a class="dropdown-item" href="/auth/logout"><span class="item-text">Logout</span></a>
                          </div>
                      </li>

                <% }else{%>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/auth/login">Log In</a></li>
                <%}%>
          </ul>
       <!--   <span class="nav-item social-icons">
              <span class="fa-stack">
                  <a href="#your-link">
                      <i class="fas fa-circle fa-stack-2x facebook"></i>
                      <i class="fab fa-facebook-f fa-stack-1x"></i>
                  </a>
              </span>
              <span class="fa-stack">
                  <a href="#your-link">
                      <i class="fas fa-circle fa-stack-2x twitter"></i>
                      <i class="fab fa-twitter fa-stack-1x"></i>
                  </a>
              </span>
          </span> -->
      </div>
  </nav> <!-- end of navbar -->
  <!-- end of navigation -->