<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/css/Login-Box-En.css">
	<link rel="stylesheet" href="/public/css/Login-Form-Clean.css">
	<link rel="stylesheet" href="/public/css/Login-Form-Dark.css">
	<link rel="stylesheet" href="/public/css/Navigation-Clean.css">
	<link rel="stylesheet" href="/public/css/Navigation-with-Button.css">
</head>

<body>
	<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
		<a class="navbar-brand" href="#">ResearchHub</a><button data-toggle="collapse" data-target="#navcol-1"
			class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span
				class="navbar-toggler-icon"></span></button>
		<div class="collapse navbar-collapse" id="navcol-1">
			<ul class="nav navbar-nav mr-auto"></ul>
			<%if(!user){%>
			<span class="navbar-text actions"><a class="login" href="/auth/login">Log
					In</a></span>
			<%}else{%>
			<span class="navbar-text actions"><a class="login" href="/auth/logout">Log
					Out</a></span>
			<%}%>
		</div>
	</nav>