<%- include('partials/header.ejs') %>
<div class="container">
    <% if (user) {%>
    <h1>Logged in as <%=user.username%> </h1>
    <% }else{%>
    <h1>Not logged in</h1>
    <%}%>
</div>
<%- include('partials/footer.ejs') %>