<%- include('partials/header.ejs') %>
<div class="container">
    <div class="login-clean">
        <form>
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-navigate"></i></div>
            <h3>Join ResearchHub</h3>
<<<<<<< HEAD
            <div class="form-group"><a class="btn btn-primary btn-block" href="/auth/google">Login with google</a>
=======
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In with Google</button>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In with Facebook</button>
>>>>>>> a86f49dc4e00a516ff1ffe13d922ca8682e6ac57
            </div>
    </div>
</div>
<%- include('partials/footer.ejs') %>