<%- include('./partials/header.ejs') %>
<div class="container">
    <div class="login-clean">
        <form>
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-navigate"></i></div>
            <h3>Join ResearchHub</h3>
            <div class="form-group"><a class="btn btn-primary btn-block" href="/auth/google">Login with google</a>
            </div>
    </div>
</div>
<%- include('./partials/footer.ejs') %>